.title {
    font-size: 48px;
}

.mensagem {
    padding: 8px;
    border: 1px solid;
    border-radius: #333;
    width: 100%;
}

.mensagem-titulo {
    font-size: 18px;
}

.mensagem-conteudo {
    font-size: 16px;
}

.mensagem-is-error {
    color: red;
    border: 1px solid red;
    background-color: rgb(255,226,226);
}

.accordion {
    border: 1px solid #000;
}

.accordion-header {
    padding: 8px;
    cursor: pointer;
}

.accordion-content {
    padding: 8px;
    border-top: 1px solid #eee;
    display: none;
}

.accordion.is-open .accordion-content{
    display: block;
}